<h3>{{ mititulo }}</h3>
Número de estudiantes {{ numero_estudiantes }}
<hr>
<br/>

<ul>

<!-- {% for e in estudiantes %}

  <li>{{e.id }} - {{e.nombre}} </li>
    {% for numero in e.mis_numeros_telefonicos.all %}
        
          - telefonos {{numero.telefono}}<br/>
      
    {% endfor %}
{% endfor %} -->
{% for e in estudiantes %}
    <li>{{e.id }} - {{e.nombre}} - telefonos {{e.obtener_cantidad_nt}}</li>
{% endfor %}
<table border="1">
    <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>telefonos</th>
            </tr>
        </thead>
    <tbody>
    {% for e in estudiantes %}
        <tr>
        <td>{{e.id }}</td>
        <td>{{e.nombre}}</td> 
        <td>{{e.obtener_cantidad_nt}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</ul>

<hr>
